*.txt

# Visual Studio files
.vs/
[Tt]est[Rr]esults/
*.suo
*.user
*.userosscache
*.sln.doccache

# Build folders
bin/
obj/

# Rider/JetBrains
.idea/
riderModule.iml
/_ReSharper.Caches/

# Coverage
coverage/

# Databases
*.db
*.db-shm
*.db-wal
