@inject IAdminContext AdminContext

<nav class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
    </NavLink>

    @if (AdminContext.IsRootUser)
    {
        <NavLink class="nav-link" href="organizations">
            <i class="bi bi-building"></i>
            <span>Organizations</span>
        </NavLink>
    }

    <NavLink class="nav-link" href="roles">
        <i class="bi bi-person-badge"></i>
        <span>Roles</span>
    </NavLink>

    <NavLink class="nav-link" href="scopes">
        <i class="bi bi-shield-check"></i>
        <span>Scopes</span>
    </NavLink>

    <NavLink class="nav-link" href="sessions">
        <i class="bi bi-activity"></i>
        <span>Sessions</span>
    </NavLink>
</nav>
